<h2 mat-dialog-title>{{ mainName() }}</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Category Name</mat-label>
    <input
      matInput
      placeholder="Enter category name"
      [(ngModel)]="categoryName"
    />
  </mat-form-field>
  <!-- <div>{{ categoryName }}</div> -->
  <div *ngIf="errorMessage" style="color: red">
    {{ errorMessage }}
  </div>
</mat-dialog-content>

<!-- Buttons to control the dialog -->
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onAddCategory()">
    {{ mainButtonName() }}
  </button>
</mat-dialog-actions>
