<mat-toolbar color="primary" class="custome-toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon class="first-icon">menu</mat-icon>
  </button>
  <!-- <mat-icon > local_cafe</mat-icon> -->
  <span class="app-title">Cafe Management App</span>
  <span class="example-spacer"></span>

  <button matButton [matMenuTriggerFor]="menu">
    <mat-icon class="big-icon">person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goto('profile')">Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<!-- sidebar -->

<mat-drawer-container class="example-container1" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button (click)="goto('dashboard')" mat-button>DashBoard</button>
    <button (click)="goto('category')" mat-button>Manage Category</button>
    <button (click)="goto('product')" mat-button>Manage Product</button>
    <button (click)="goto('order')" mat-button>Manage Order</button><br />

    <button (click)="goto('bill')" mat-button>View Bill</button><br />
    <button (click)="goto('users')" mat-button>Manage Users</button>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<p>
  <mat-toolbar color="primary" class="footer">
    <span class="footer-name">Just A Practice Application</span>
  </mat-toolbar>
</p>
