<!-- <p>category works!</p> -->
<div class="whole">
  <p>
    <mat-toolbar>
      <span>Manage Product</span>
      <span class="example-spacer"></span>

      <button mat-raised-button color="primary" (click)="openGetter()">
        Add Product
      </button>
    </mat-toolbar>
  </p>
  <!-- <p *ngIf="loginForm?.get('email')?.invalid">{{
    getErrorMessage()
  }}<p> -->

  <input matInput placeholder="Filter" />

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            (click)="updateProduct(element.id)"
          >
            <mat-icon class="big-icon">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
            (click)="deleteProduct(element.id)"
          >
            <mat-icon class="big-icon">delete</mat-icon>
          </button>
          <mat-slide-toggle
            [checked]="element.status === 'true'"
            (change)="onToggleChange(element.id, $event.checked)"
          >
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
