<p>Register works!</p>
<div class="container">
  <h2>Register</h2>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="register-form"
  >
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="itachi" formControlName="name" required />
        <mat-error *ngIf="registerForm?.get('name')?.invalid">{{
          getNameErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your Contact Number</mat-label>
        <input
          matInput
          type="tel"
          placeholder="e.g. 9876543210"
          formControlName="contactNumber"
          required
          maxlength="10"
          pattern="[0-9]*"
        />
        <mat-error *ngIf="registerForm?.get('contactNumber')">
          {{ getpasswordErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your Email</mat-label>
        <input
          matInput
          placeholder="yyy@mail.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="registerForm?.get('email')?.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          type="button"
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('password')?.invalid">{{
          getpasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
  <div *ngIf="error"><h3>please fill the form correctly</h3></div>

  <button type="button" (click)="gotoLogin()">Return to Login</button>

  <div *ngIf="!errorHide">
    <p>{{ errorMessage }}</p>
  </div>
</div>
